@media screen and (min-width: 641px) {
/* PC用のスタイル記述 */
#img_main{margin-bottom:20px;}

.lead{margin:0 0 15px;}
.link_page{margin:0 0 30px;}
.link_page li{width:200px; margin-right:40px;background: url(../img/arrow_side.gif) 0 0.5em no-repeat;padding-left:13px; float:left;}

.faq_set{margin-bottom:40px;}
.faq_set .box_faq{margin:25px 0 0; border-bottom:1px solid #e6e6e6;}

.faq_set .box_faq .box_txt_q{cursor:pointer;}
.faq_set .box_faq .box_txt_a{display:none;}
.faq_set .box_faq .icon{float:left;}
.faq_set .box_faq .txt_q{font-size:125%; margin-bottom:25px;margin-left:55px; text-decoration:underline; color:#0a68aa;}
.faq_set .box_faq .color01{color:#06385b !important;}
.faq_set .box_faq .color02{color:#0a68aa !important;}

.faq_set .box_faq .txt_a{font-size:110%; padding-bottom:25px;margin-left:55px;}
.faq_set .faq_pagetop{text-align:right;margin:20px 0 0;}



}


@media screen and (max-width: 620px) {
/* スマートフォン用のスタイル記述 */
#img_main{margin-bottom:20px;}

.lead{margin:0 0 15px;}
.link_page{margin:0 0 30px;}
.link_page li{background: url(../img/arrow_side.gif) 0 0.5em no-repeat;padding-left:13px;}

.faq_set{margin-bottom:40px;}
.faq_set .box_faq{margin:25px 0 0; border-bottom:1px solid #e6e6e6;}
.faq_set .box_faq .box_txt_a{display:none;}
.faq_set .box_faq .icon{}
.faq_set .box_faq .txt_q{font-size:125%; margin-bottom:25px;}
.faq_set .box_faq .txt_a{font-size:110%; padding-bottom:25px;}
.faq_set .faq_pagetop{text-align:right;margin:20px 0 0;}


}