@media screen and (min-width: 641px) {
/* PC用のスタイル記述 */
#img_main{margin-bottom:20px;}

.lead{}
.lead span{font-size:90%; color:#C00;}

.btn_menu {width:710px; margin:30px auto 20px;}
.btn_menu .btn_set{width:335px;margin:0 10px 20px; float:left;}
.btn_menu .btn_set a{padding:20px; display:block; color:#054979; text-decoration:none; font-size:21px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;background:#e2f8fe url(../service/img/arrow.png) 300px 17px no-repeat; font-weight:bold;}
.btn_menu .btn_set a:hover{background-color:#cef5ff;}
.btn_menu .font_s{font-size:16px !important;padding:9px 20px !important;}

.box_em{border:7px solid #e6e6e6; padding:15px 10px; margin-bottom:30px;}
.box_em .img_em{text-align:center;margin-bottom:15px;}
.box_em .txt_kome{font-size:90%;}
.box_em .txt_kome p{margin-bottom:5px;line-height:1.6em;}

.box_service{ margin-bottom:10px;}

.ui-tabs-hide {display: none;}
.ui-tabs-nav {list-style: none;margin: 0;padding: 0; text-align:center;}
.ui-tabs-nav:after {display: block;clear: both;content: " ";}
.ui-tabs-nav li {float: left;margin: 0 10px 0 0;width: 175px;}
.ui-tabs-nav a,
.ui-tabs-nav a span {display: block;padding: 5px 0;}
.ui-tabs-nav a {margin: 1px 0 0;padding-left: 0;background-color:#bbecfd; color: #0e81a7;font-weight: bold;text-align: center;text-decoration: none;white-space: nowrap;outline: 0;border-top-left-radius:5px;-moz-border-top-left-radius: 5px;-webkit-border-top-left-radius: 5px;-o-border-top-left-radius: 5px;-ms-border-top-left-radius: 5px;border-top-right-radius :5px;-moz-border-top-right-radius: 5px;-webkit-border-top-right-radius: 5px;-o-border-top-right-radius: 5px;-ms-border-top-right-radius: 5px;font-size:125%;}
.ui-tabs-nav a:hover{background-color:#01befd; color:#ffffff;}
.ui-tabs-nav .ui-tabs-selected a {position: relative;top: 1px;z-index: 2;margin-top: 0;background-color:#01befd; color:#ffffff;}
.ui-tabs-nav a span {width: 175px; min-width: 175px;padding-right: 0;}
*>.ui-tabs-nav a span {width: auto;height: auto;}
.ui-tabs-nav .ui-tabs-selected a:link,
.ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link,
.ui-tabs-nav .ui-tabs-disabled a:visited {cursor: text;}
.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover,
.ui-tabs-nav .ui-tabs-deselectable a:focus,
.ui-tabs-nav .ui-tabs-deselectable a:active {cursor: pointer;}
.ui-tabs-panel {border: 7px solid #f6f6f6;padding: 25px 15px;background: #fff;}
* html .ui-tabs-nav { display: inline-block;}
*:first-child+html .ui-tabs-nav  { display: inline-block;}

#container-1{}
#container-1 .shindan{background-color:#f6f6f6; border-bottom:1px solid #cacaca; margin-bottom:20px; padding:8px 0 8px 0; font-weight:bold; font-size:110%; color:#054979;}
#container-1 .shindan span{border-left:5px solid #1773b4; padding-left:10px;}
#container-1 .txt_box{width:325px;float:left; margin-bottom:40px;}
#container-1 .txt_box h5{background-color:#054979; color:#ffffff;padding:3px 0 3px 10px;margin-bottom:15px;}
#container-1 .mr10{margin-right:15px;}
#container-1 .wordpress{text-align:right;font-size:90%;}


.box_service .lower_box{border:7px solid #e6e6e6; padding:15px;border-top:none;}
.box_service .lower_box .lead{margin:10px 0 40px;font-size:110%;}
.box_service .lower_box .ttl_normal{font-size:125%; color:#109ac1; font-weight:bold; border-left:5px solid #054979; padding-left:12px;}
.box_service .lower_box table{width:100%;margin:20px 0; border-top:1px solid #e6e6e6;}
.box_service .lower_box th,
.box_service .lower_box td{padding:10px 15px; border-bottom:1px solid #e6e6e6;}
.box_service .lower_box th{width:35%;text-align:left;}
.box_service .lower_box td{width:65%;}

.service_pagetop{text-align:right; margin-bottom:30px;}

}


@media screen and (max-width: 620px) {
/* スマートフォン用のスタイル記述 */
#img_main{margin-bottom:20px;}

.lead{}
.lead span{font-size:90%; color:#C00;}

.btn_menu {width:100%; margin:30px auto 20px;}
.btn_menu .btn_set{width:100%;margin:0 0 10px;}
.btn_menu .btn_set a{padding:20px; display:block; color:#054979; text-decoration:none; font-size:110%;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;background:#e2f8fe url(../service/img/arrow.png) 95% 1.2em no-repeat; font-weight:bold;}
.btn_menu .btn_set a:hover{background-color:#cef5ff;}
.btn_menu .font_s{font-size:16px !important;padding:9px 20px !important;}

.box_em{border:7px solid #e6e6e6; padding:15px 10px; margin-bottom:30px;}
.box_em .img_em{text-align:center;margin-bottom:15px;}
.box_em .txt_kome{font-size:90%;}
.box_em .txt_kome p{margin-bottom:5px;line-height:1.6em;}

.box_service{ margin-bottom:10px;}

.ui-tabs-hide {display: none;}
.ui-tabs-nav {list-style: none;margin: 0;padding: 0; text-align:center;}
.ui-tabs-nav:after {display: block;clear: both;content: " ";}
.ui-tabs-nav li {float: left;margin: 0 2px 0 0;width: 32%;}
.ui-tabs-nav a,
.ui-tabs-nav a span {display: block;padding: 5px 0;}
.ui-tabs-nav a {margin: 1px 0 0;padding-left: 0;background-color:#bbecfd; color: #0e81a7;font-weight: bold;text-align: center;text-decoration: none;white-space: nowrap;outline: 0;border-top-left-radius:5px;-moz-border-top-left-radius: 5px;-webkit-border-top-left-radius: 5px;-o-border-top-left-radius: 5px;-ms-border-top-left-radius: 5px;border-top-right-radius :5px;-moz-border-top-right-radius: 5px;-webkit-border-top-right-radius: 5px;-o-border-top-right-radius: 5px;-ms-border-top-right-radius: 5px;font-size:100%;}
.ui-tabs-nav a:hover{background-color:#01befd; color:#ffffff;}
.ui-tabs-nav .ui-tabs-selected a {position: relative;top: 1px;z-index: 2;margin-top: 0;background-color:#01befd; color:#ffffff;}
*>.ui-tabs-nav a span {width: auto;height: auto;}
.ui-tabs-nav .ui-tabs-selected a:link,
.ui-tabs-nav .ui-tabs-selected a:visited,
.ui-tabs-nav .ui-tabs-disabled a:link,
.ui-tabs-nav .ui-tabs-disabled a:visited {cursor: text;}
.ui-tabs-nav a:hover,
.ui-tabs-nav a:focus,
.ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-deselectable a:hover,
.ui-tabs-nav .ui-tabs-deselectable a:focus,
.ui-tabs-nav .ui-tabs-deselectable a:active {cursor: pointer;}
.ui-tabs-panel {border: 7px solid #f6f6f6;padding: 25px 10px;background: #fff;}
* html .ui-tabs-nav { display: inline-block;}
*:first-child+html .ui-tabs-nav  { display: inline-block;}

#container-1{}
#container-1 .shindan{background-color:#f6f6f6; border-bottom:1px solid #cacaca; margin-bottom:20px; padding:8px 0 8px 0; font-weight:bold; font-size:110%; color:#054979;width:87%;}
#container-1 .shindan span{border-left:5px solid #1773b4; padding-left:10px;}
#container-1 #fragment-1 .txt_box{margin-bottom:40px; width:87%;}
#container-1 #fragment-1 .txt_box h5{background-color:#054979; color:#ffffff;padding:3px 0 3px 10px;margin-bottom:15px;}
#container-1 #fragment-1 .mr10{margin-right:0;}
#container-1 #fragment-1 .wordpress{font-size:90%;margin-top:15px;}

.box_service .lower_box{border:7px solid #e6e6e6; padding:15px;border-top:none;}
.box_service .lower_box .lead{margin:10px 0 40px;font-size:110%;}
.box_service .lower_box .ttl_normal{font-size:125%; color:#109ac1; font-weight:bold; border-left:5px solid #054979; padding-left:12px;}
.box_service .lower_box table{margin:20px 0; border-top:1px solid #e6e6e6;}
.box_service .lower_box th,
.box_service .lower_box td{padding:10px 0; border-bottom:1px solid #e6e6e6;}
.box_service .lower_box th{width:35%; text-align:left;}
.box_service .lower_box td{width:65%; padding-left:10px; vertical-align:top;}

.service_pagetop{text-align:right; margin-bottom:30px;}


}